# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/data
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.suo
*.user
*.ncb
Debug/
Release/
CodeAnalyst/

ipch/
*.sdf
*.opensdf
backend/ECommerceBackEnd/ECommerceBackEnd/obj/project.nuget.cache
backend/ECommerceBackEnd/ECommerceBackEnd/obj/project.assets.json
backend/ECommerceBackEnd/ECommerceBackEnd/obj/ECommerceBackEnd.csproj.nuget.g.props
backend/ECommerceBackEnd/ECommerceBackEnd/obj/ECommerceBackEnd.csproj.nuget.dgspec.json
backend/ECommerceBackEnd/ECommerceBackEnd/appsettings.json
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/f7ff3664-f9eb-4711-b14b-fd5512ea35eb.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/df892d5b-9201-4dbd-8c4c-586edeefa823.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/d51454c6-9961-4bfc-b2ae-2673f6b936ab.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/cc563fc8-3d1e-49a1-98b1-3dcc71310b25.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/ca3ee172-9d6f-4900-8303-b2493c703a69.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/a13f830a-842a-4b7e-a589-c3d5a0d15c45.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/799de64e-e2c0-47fc-83fd-7ee2ed2ba2c9.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/59f48a50-4243-414d-8d12-e1a6bf69665a.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/3730e2bf-7d7a-4b9f-b3d2-8eead21b4c01.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/2a391e1a-44bd-4840-8959-d79720b0dc5d.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/1ddfd370-2a94-4506-942b-206733617b71.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/0b252acb-5897-4bb7-af6f-711659706629.vsidx
backend/ECommerceBackEnd/.vs/ECommerceBackEnd/FileContentIndex/06d39eee-3f3b-4e90-8948-eb42c3b111e8.vsidx
