.loginOrRegister{
    display: grid;
    grid-template-columns: repeat(2,50%);
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--indigo-950);
}
.loginOrRegister .activePage{
    background-color: white;
    height:100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginOrRegister .inactivePage  :not(.activatePage) :not(h1){
    display: none;
}


.loginOrRegister * {
    background-color: var(--indigo-950);
}

.inactivePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.inactivePage .pageHeader{
    font-size: 3em;
    color: white;
}

.inactivePage .activatePage{
    border: none;
    border-radius: 3em;
    background-color: white;
    color: var(--indigo-950);
    width: 10em;
    height: 2.5em;
    font-size: 1.5em;
}

.activePage .pageHeader, .activePage .activatePage{
    display: none;
}

.activePage *, .activePage {
    color: var(--indigo-950);
    background-color: white;
}



.activePage #login-form{
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 90%;
    height: 80%;
    font-style: var;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.activePage #login-form .formHeader, #login-form button{
    grid-column: 1/-1;
}

.activePage .formHeader {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: var(--font-bold);
}

.activePage input {
    border: none;
    border-bottom: 1px solid var(--indigo-950);
    color: var(--indigo-900);
    font-size:1em;
}

.activePage #login-form label {
    font-size: 0.8em;
    text-align: left;
    padding-left: 60px;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: left;
}

label[for="login-email"] {
    background-image: url("/frontend/icons/accountIcon.png");
    background-repeat: no-repeat;
    background-size: 50px;
}
label[for="login-password"] {
    background-image: url("/frontend/icons/passwordIcon.png");
    background-repeat: no-repeat;
    background-size: 50px;
}

.activePage #login-form button[type="submit"] {
    border: none;
    background-color: var(--indigo-950);
    color:white;
    font-size:0.8em;
    width: 30%;
    justify-self: center;
    height: 2em;
    border-radius: 2em;
}

.activePage #login-form #signinWithGoogle{
    border: 2px solid var(--indigo-950);
    font-size:0.8em;
    width: 50%;
    justify-self: center;
    height: 2em;
    border-radius: 2em;
    background-image: url("/frontend/icons/googleIcon.png");
    background-repeat: no-repeat;
    background-size: 46px;
}